/VCSchool/bin/Debug/WebDriver.xml
/VCSchool/bin/Debug/chromedriver.exe
/VCSchool/bin/Debug/nunit.engine.api.dll
/VCSchool/bin/Debug/nunit.engine.core.dll
/VCSchool/bin/Debug/nunit.engine.dll
/VCSchool/bin/Debug/nunit.framework.dll
/VCSchool/bin/Debug/nunit.framework.xml
/VCSchool/bin/Debug/NUnit3.TestAdapter.dll
/VCSchool/bin/Debug/NUnit3.TestAdapter.pdb
/VCSchool/bin/Debug/nunit_random_seed.tmp
/VCSchool/bin/Debug/VCSchool.dll
/VCSchool/bin/Debug/VCSchool.pdb
/VCSchool/bin/Debug/WebDriver.dll
/VCSchool/bin/Debug/WebDriver.Support.dll
/VCSchool/bin/Debug/WebDriver.Support.xml
/VCSchool/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/VCSchool/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/VCSchool/obj/Debug/VCSchool.csproj.CopyComplete
/VCSchool/obj/Debug/VCSchool.csproj.CoreCompileInputs.cache
/VCSchool/obj/Debug/VCSchool.csproj.FileListAbsolute.txt
/VCSchool/obj/Debug/VCSchool.csprojAssemblyReference.cache
/VCSchool/obj/Debug/VCSchool.dll
/VCSchool/obj/Debug/VCSchool.pdb
/VCSchool/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/VCSchool/packages/NUnit.3.13.1/lib/net35/nunit.framework.dll
/VCSchool/packages/NUnit.3.13.1/lib/net35/nunit.framework.xml
/VCSchool/packages/NUnit.3.13.1/lib/net40/nunit.framework.dll
/VCSchool/packages/NUnit.3.13.1/lib/net40/nunit.framework.xml
/VCSchool/packages/NUnit.3.13.1/lib/net45/nunit.framework.dll
/VCSchool/packages/NUnit.3.13.1/lib/net45/nunit.framework.xml
/VCSchool/packages.config
/VCSchool/packages/NUnit.3.13.1/.signature.p7s
/VCSchool/packages/NUnit.3.13.1/build/NUnit.props
/VCSchool/packages/NUnit.3.13.1/CHANGES.md
/VCSchool/packages/NUnit.3.13.1/icon.png
/VCSchool/packages/NUnit.3.13.1/lib/netstandard2.0/nunit.framework.dll
/VCSchool/packages/NUnit.3.13.1/lib/netstandard2.0/nunit.framework.xml
/VCSchool/packages/NUnit.3.13.1/LICENSE.txt
/VCSchool/packages/NUnit.3.13.1/NOTICES.txt
/VCSchool/packages/NUnit.3.13.1/NUnit.3.13.1.nupkg
/VCSchool/packages/NUnit3TestAdapter.3.17.0/.signature.p7s
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.api.dll
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.core.dll
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/net35/nunit.engine.dll
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3.TestAdapter.dll
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3.TestAdapter.pdb
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/net35/NUnit3TestAdapter.props
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.api.dll
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.core.dll
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/nunit.engine.dll
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3.TestAdapter.dll
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3.TestAdapter.pdb
/VCSchool/packages/NUnit3TestAdapter.3.17.0/build/netcoreapp2.1/NUnit3TestAdapter.props
/VCSchool/packages/NUnit3TestAdapter.3.17.0/LICENSE.txt
/VCSchool/packages/NUnit3TestAdapter.3.17.0/NUnit3TestAdapter.3.17.0.nupkg
/VCSchool/packages/Selenium.Support.3.141.0/.signature.p7s
/VCSchool/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.dll
/VCSchool/packages/Selenium.Support.3.141.0/lib/net35/WebDriver.Support.xml
/VCSchool/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.dll
/VCSchool/packages/Selenium.Support.3.141.0/lib/net40/WebDriver.Support.xml
/VCSchool/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.dll
/VCSchool/packages/Selenium.Support.3.141.0/lib/net45/WebDriver.Support.xml
/VCSchool/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.dll
/VCSchool/packages/Selenium.Support.3.141.0/lib/netstandard2.0/WebDriver.Support.xml
/VCSchool/packages/Selenium.Support.3.141.0/Selenium.Support.3.141.0.nupkg
/VCSchool/packages/Selenium.WebDriver.3.141.0/.signature.p7s
/VCSchool/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.dll
/VCSchool/packages/Selenium.WebDriver.3.141.0/lib/net35/WebDriver.xml
/VCSchool/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.dll
/VCSchool/packages/Selenium.WebDriver.3.141.0/lib/net40/WebDriver.xml
/VCSchool/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.dll
/VCSchool/packages/Selenium.WebDriver.3.141.0/lib/net45/WebDriver.xml
/VCSchool/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.dll
/VCSchool/packages/Selenium.WebDriver.3.141.0/lib/netstandard2.0/WebDriver.xml
/VCSchool/packages/Selenium.WebDriver.3.141.0/Selenium.WebDriver.3.141.0.nupkg
/VCSchool/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/.signature.p7s
/VCSchool/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/build/DefinePropertiesChromeDriver.targets
/VCSchool/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/build/Selenium.WebDriver.ChromeDriver.targets
/VCSchool/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/driver/linux64/chromedriver
/VCSchool/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/driver/mac64/chromedriver
/VCSchool/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/driver/win32/chromedriver.exe
/VCSchool/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/nupkg-icon.png
/VCSchool/packages/Selenium.WebDriver.ChromeDriver.89.0.4389.2300/Selenium.WebDriver.ChromeDriver.89.0.4389.2300.nupkg
